<div class="users-container">

    <div class="page-header">
        <h2>Users Management</h2>
        <p>Manage employees, engineers and administrators</p>
    </div>

    <div class="search-section">
        <input type="text" placeholder="Search users..." (keyup)="searchUsers($event)">
    </div>

    <div class="table-card">

        <table mat-table [dataSource]="users">

            <ng-container matColumnDef="name">

                <th mat-header-cell *matHeaderCellDef>

                    Name

                </th>

                <td mat-cell *matCellDef="let user">

                    {{user.name}}

                </td>

            </ng-container>

            <ng-container matColumnDef="email">

                <th mat-header-cell *matHeaderCellDef>

                    Email

                </th>

                <td mat-cell *matCellDef="let user">

                    {{user.email}}

                </td>

            </ng-container>

            <ng-container matColumnDef="role">

                <th mat-header-cell *matHeaderCellDef>

                    Role

                </th>

                <td mat-cell *matCellDef="let user">

                    <select class="role-select" [value]="user.role" (change)="updateRole(user, $event)">
                        <option *ngFor="let role of roles" [value]="role"  [selected]="role === user.role">
                            {{ role }}
                        </option>
                    </select>

                </td>

            </ng-container>

            <ng-container matColumnDef="actions">

                <th mat-header-cell *matHeaderCellDef>

                    Actions

                </th>

                <td mat-cell *matCellDef="let user">

                    <button class="action-btn delete-btn" (click)="deleteUser(user._id)">

                        Delete

                    </button>

                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns">
            </tr>

            <tr mat-row *matRowDef="
      let row;
      columns: displayedColumns
    ">
            </tr>

        </table>

    </div>
</div>